@import "../../styles/variables.scss";

.button {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 100%;

  text-transform: uppercase;
  border-radius: 4px;

  color: $white;
  background-color: $primary;

  border: 1px solid transparent;
  border-radius: 6px;
  box-sizing: border-box;

  transition: background-color 0.3s ease-in;

  &:hover{
    background-color: $primary_light;
  }

}

.secondary {
  color: $white;
  background-color: $secondary;
  transition: background-color 0.3s ease-in;

  &:hover{
    color: $white;
    background-color: $secondary_light;
  }
}


.ghost {
  color: $gray_dark;
  background-color: $gray-lightness;
  transition: background-color 0.3s ease-in;

  &:hover{
    color: $black;
    background-color: $gray-light;
  }
}




.small {
  padding: 8px 32px;
  font-size: 12px;
  line-height: 20px;
}

.normal {
  padding: 16px 32px;
  font-size: 14px;
  line-height: 22px;
}

.large {
  padding: 24px 32px;
  font-size: 16px;
  line-height: 25px;
}


.outline {
  color: $gray_dark;
  border-color: $gray_dark;
  background-color: $white;

  transition: border-color 0.3s ease-in;
  transition: color 0.3s ease-in;


  &:hover{
    color: $black;
    background-color: $gray-lightness;
    border-color: $black;
  }
}



