//*********************//
//**** Components ****//
//*******************//

$green:                      #0A522F !default;
$green_light:                #276F4C !default;
$white:                      #FFFFFF !default;
$brown:                      #5D360C !default;
$brown_light:                #F4F0EC !default;
$green_accent:               #018A06 !default;
$black:                      #333333 !default;
$gray:                       #A3A3A3 !default;
$gray_light:                 #F6F6F6 !default;
$gray_dark:                  #4D5662 !default;
$yellow:                     #FFE37E !default;
$orange:                     #FB8D13 !default;
$orange_light:               #FFAE00 !default;

